@import "../../utils.scss";

#list-container {
  border: 1px solid grey;
  border-radius: 0.3em;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.active {
  display: block;
}
#input-addBtn {
  width: 100%;
  padding: 0.8em 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1em;
  input {
    font-size: 1em;
    width: 100%;
    padding: 0.5em;
    border: none;
    outline: none;
  }
  button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    background-color: getColor(myOrange);
    color: white;
    border: none;
    border-radius: 2em;
    max-width: 11em;
    margin-right: 0.5em;
    cursor: pointer;
    @include mobileS {
      width: 20%;
    }
    @include mobileTablet {
      width: 40%;
    }
    > span {
      @include mobileS {
        display: none;
      }
      @include mobileTablet {
        display: inline-block;
      }
    }
  }
}
