@import "../../utils.scss";
.tab-content {
  display: none;
}
#buttons {
  background-color: getColor(bgColorGrey);
  > button {
    border: 1px solid lightgrey;
    outline: none;
    padding: 1em;
    transition: 0.5s;
  }
}

.activeBtn {
  background-color: white;
}
