@import "../../utils.scss";
.tab-content {
  display: none;
}

#buttons {
  border-top: 0.1px solid lightgrey;
  background-color: getColor(bgColorGrey);
  @include mobileS {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
  }
  @include mobileTablet {
    display: flex;
  }
  > button {
    cursor: pointer;
    border: 1px solid lightgrey;
    outline: none;
    padding: 1em;
    position: relative;
    i {
      color: getColor(myGrey);
      font-size: 1.5em;
      padding-right: 0.5em;
    }
  }
}
#tab-label {
  @include mobileS {
    display: none;
  }
  @include mobileTablet {
    display: inline-block;
  }
}

#active-count {
  position: absolute;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  top: -0.5em;
  right: 0;
  color: white;
  font-weight: 700;
  background-color: getColor(myOrange);
}

.activeBtn {
  background-color: white;
  border-bottom-color: white !important;
}
