@import "../../utils.scss";

#main-container {
  display: flex;
  max-width: 1441px;
  margin: 0 auto;
}

span {
  @include mobileS {
    display: block;
  }
  @include mobileTablet {
    display: none;
  }
}
