@import "../../utils.scss";

#navbar-container {
  display: flex;
  padding: 1em;
  padding-top: 2em;
  background-color: getColor(bgColorGrey);
  span {
    border: 0.6px solid getColor(myGrey);
    padding: 0.5em 1em;
    border-radius: 1em;
    @include mobileS {
      font-size: 0.75em;
    }
    @include tablet {
      font-size: 0.9em;
    }
  }
}

#toggleBtn {
  font-size: 1.2em;
  margin-top: 0.2em;
  margin-right: 0.5em;
  @include mobileS {
    display: block;
  }
  @include mobileTablet {
    display: none;
  }
}
#panelBtn {
  font-size: 0.9em;
  background-color: getColor(myOrange);
  color: white;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
}
