@import "../../utils.scss";

#navbar-container {
  display: flex;
  margin: 1em;
  margin-top: 2em;
  i {
    font-size: 1.3em;
    padding: 0 0.5em;
  }
  span {
    border: 0.6px solid lightgrey;
    padding: 0.5em 1em;
    border-radius: 1em;
  }
  > i {
    @include mobileS {
      display: block;
    }
    @include mobileTablet {
      display: none;
    }
  }
}
