@import "../../utils.scss";

#sidebar-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: getColor(sidebar);
  flex-direction: column;
  height: 100vh;
  max-width: 0;
  transition: max-width 0.5s;
  @include mobileTablet {
    max-width: 7em;
  }
  li {
    list-style-type: none;
    display: grid;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
      border-left: 1px solid getColor(myOrange);
    }

    > :first-child {
      margin-top: 1em;
    }
    > i {
      color: getColor(myOrange);
      font-size: 1.6em;
    }
    > span {
      color: white;
      font-size: 0.8em;
    }
    > img {
      margin: 0 auto;
      width: 80%;
      height: 5.5em;
    }
  }
}

#bottom-section {
  margin-bottom: 2em;
}
