@import "../../utils.scss";

#sidebar-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: getColor(sidebar);
  flex-direction: column;
  height: 100vh;
  max-width: 0;
  transition: max-width 0.5s;
  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    :first-child {
      margin-top: 1em;
    }
  }

  img {
    width: 80%;
    height: 5.5em;
  }
}
