@import "../../utils.scss";

#sidebar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  max-width: 6em;
  background-color: getColor(black);
  @include mobileS {
    transform: translateX(-100);
  }
  @include mobileTablet {
  }
}
