@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 420px;
$mobileTablet: 600px;
$tablet: 768px;
$desktop: 1024px;
$wideScreen: 1441px;

@mixin mobileS {
  @media (min-width: #{$mobileS}) {
    @content;
  }
}
@mixin mobileTablet {
  @media (min-width:#{$mobileTablet}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

@mixin wideScreen {
  @media (min-width:#{$wideScreen}) {
    @content;
  }
}
$colours: (
  myOrange: #fc6657,
  myGrey: #535758,
  sidebar: #353a3e,
  bgColorGrey: #f1f1f1
);

@function getColor($colour-name) {
  @return map-get($colours, $colour-name);
}
